#movie-gender {
  @apply grid fixed top-[10rem] left-4 h-fit backdrop-blur-sm bg-gradient-to-bl from-slate-300/30 to-slate-400/30 shadow-lg rounded-2xl list-none grid-rows-4 w-24 py-10 px-3 gap-[1rem];
}

/* -- ESCOLHA GENERO -- */
:where(#adventure, #comedy, #drama, #thriller) {
  @apply hidden;

  + label {
    @apply z-50 flex flex-col py-3 gap-8 duration-500 text-xs;
  }

  &:checked + label, + label:hover {
    @apply text-sm text-white font-bold translate-x-6;
  }
}
/* -- INDICADOR GENERO -- */
.indicador-genero {
  @apply absolute z-10 top-[2.4rem] left-[0.8rem] w-[8rem] h-[3rem] bg-gradient-to-br from-red-500 to-red-900 border-8 border-black rounded-full;
}
.indicador-genero::before {
  content: '';
  @apply absolute flex top-[-1.8rem] left-[3.5rem] w-5 h-5 rounded-br-2xl;
  box-shadow: 4px 6px 6px 0 #000;
  }
.indicador-genero::after {
  content: '';
  @apply absolute flex bottom-[-1.8rem] left-[3.4rem] w-5 h-5 rounded-tr-2xl;
  box-shadow: 4px -6px 6px 0 #000;
}
/* -- MOVIMENTO INDICADOR GENERO -- */
#adventure:checked ~ .indicador-genero {
  @apply translate-y-[initial] duration-500;
}
#comedy:checked ~ .indicador-genero {
  @apply translate-y-[3.7rem] duration-500;
}
#drama:checked ~ .indicador-genero {
  @apply translate-y-[7.4rem] duration-500;
}
#thriller:checked ~ .indicador-genero {
  @apply translate-y-[11.2rem] duration-500;
}