.lista {
  @apply flex flex-col content-center gap-8 py-[12rem] -z-10;

  @media (min-width: 768px) {
    padding: 12rem 6rem 12rem 11rem;
  }
}
.container-cards {
  @apply flex flex-col items-center gap-8;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}