.navbar {
  @apply flex flex-col fixed top-[4.5rem] left-4 h-fit gap-2 text-sm font-bold;
}

.botao-login {
  @apply w-[9rem] py-1 bg-gradient-to-br from-rose-500/50 to-red-600/50 shadow-md shadow-red-600/50 rounded-full text-center;
}

.botao-signup {
  @apply w-[9rem] py-1 border-2 border-y-red-600/50 border-x-rose-500/50 shadow-md shadow-red-600/50 rounded-full text-center text-red-700;
}